.actionbar {
    overflow: hidden;
    background-color: #EFEFEF;

}

.actionbar a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
    margin-left:120px;

}



.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    padding: 14px 16px;
    color:Black;
    font-family: inherit;
    margin: 0;
    background-color:#EFEFEF;

}

.actionbar a:hover, .dropbtn:hover {
    background-color: #D5D5D5;

}

a{
    cursor:pointer;
}
