.bg-green {
    background-color: green;
}

.bg-red {
    background-color: red;
}

body {font-family: Arial;}

/* Style the tab */
*[class^="tab"] {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
*[class^="tab"] button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
*[class^="tab"] button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
*[class^="tab"] button.active {
    background-color: #ccc;
}

/* Style the tab content */
*[class^="tabcontent"] {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.hide {
    display: none;
}

table tbody td {
    color:white;
    border-right: 1px solid white;
    width: 12vw;
    font-size: 0.90vw;
    cursor: pointer;
}
