.formulary {
    margin-left:auto;
    margin-right: auto;
    text-align: center;
    background-color: #dddddd;
    width:500px;
    height:200px;
}


table.center{
    width:90%;
    margin-left: 5%;
    margin-right:5%;
}

td{
    text-align:left;
    padding-bottom:10px;
    font-size:15px;
}


input[type=number]{
    width :50px;

}

input[type=date]{
    width:140px;

}

input[type=date], input[type=text], input[type=number],input.listeData{
    height:25px;
    border:none;
    border-radius:4px;
    padding:6px 8px;
}
