h1{
    width: 50%;
    margin:0 auto;
    align:center;
    text-align:center;
}

h3{
    width: 50%;
    margin:0 auto;
    align:center;
    text-align:center;
}

.form{
    margin:0 auto;
    width:400px;
    height:150px;
    align:center;
    background-color:#EFEFEF;
}

#validate,span{
    font-weight: bold;
}

div.button{
    margin : 0 auto;
    width:50%;
    text-align:center;
    align:center;

}

div.button input{
    margin-left:10px;
}

input[type="file"]{
    -webkit-appearance: none;
    text-align: left;
    -webkit-rtl-ordering: left;
}
input[type="file"]::-webkit-file-upload-button{
    -webkit-appearance: none;
    float: right;
    margin: 0 0 0 10px;
    border: 1px solid #aaaaaa;
    border-radius: 4px;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#d2d0d0), to(#f0f0f0));
    background-image: -moz-linear-gradient(90deg, #d2d0d0 0%, #f0f0f0 100%);
}