.navButton{
    margin : 0 auto;
    width:50%;
    text-align:center;
    align:center;
}

.navButton input{
    margin-left:10px;
    width:80px;
    height:30px;
    font-size:12px;
}

input#finish{
    font-weight:bold;
}