table {
    text-align: center;
}

table i {
    cursor: pointer;
}

.navDiv {
    width: 25%;
    margin: auto;
}

.btn-duo {
    display: inline-block;
    width: 11vw;
}

.form-line {
    display: inline-block;
}
