body{
    background-color: transparent;
}




img.phase{
    position:absolute;
    padding-left:20px;
    width:70px;
    height:70px;
    margin-top:-30px;
}



h2{
    margin: 0 auto;
    width:50%;
    align:center;
    text-align: center;
    text-decoration: underline darkgrey;
    font-size:20px;
    font-family: Arial;
    padding-top:25px;
}

.formulary {
    width:375px;
    height: 260px;
}
