body{
    background-color: transparent;
}


h2{
    margin: 0 auto;
    width:50%;
    align:center;
    text-align: center;
    text-decoration: underline darkgrey;
    font-size:20px;
    font-family: Arial;
    padding-top:25px;
}
.formulary{
    height:500px;
}

textarea#list_ouput{
    border:none;
    border-radius:4px;
    padding:6px 8px;
    resize:none;
}

input[type=image]{
    margin-left:20px;
}
