div.information{
    background-color: #dddddd;
    width:40%;
    height:40%;
    float:right;
    margin-right:200px;
    margin-top:50px;
}

h1{
    padding-top:20px;
    float:left;
}

div.navButton{
    position:relative;
    margin-top:95%;
}
.disconnect {
    background-color: #428BCA;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: bold;
    margin-left: 50px;
    width:9%;
    height:5%;
}

div.img{
    margin-left:50px;
    margin-top: 75px;
}
div.img>img{
    width:10%;
    height:13%;
}
