html, body {
    margin:0px;
    padding:0px;
    height:100%;
    overflow: hidden;
}

#container {
    display: inline-block;
}

.hide {
    display: none;
}

.dhx_cal_container {
    height: 92vh;
}

.col-sm-12 {
    text-align: center;
}

.dhx_event_resize, .dhx_section_time, .dhx_cal_lsection {
    display: none;
}
