/*
@license
dhtmlxScheduler v.5.1.6 Stardard

This software is covered by GPL license. You also can obtain Commercial or Enterprise license to use it in non-GPL project - please contact sales@dhtmlx.com. Usage without proper license is prohibited.

(c) Dinamenta, UAB.
*/
/* key nav */
/*                                              Table of Content



        1. 

        2. 

        3. 

        4. 



*/
/*============================================================================================
                            0. Contrast Black Skin Design Default Styles
==============================================================================================*/
/* legacy vars */
/* end legacy vars */
/*============================================================================================
                            1. DHX Scheduler Container
==============================================================================================*/
/*============================================================================================
                            2. Navigation Section
==============================================================================================*/
/*============================================================================================
                            1. DHX Scheduler Container
==============================================================================================*/
/*============================================================================================
                            1. DHX Scheduler Container
==============================================================================================*/
/*============================================================================================
                            1. DHX Scheduler Container
==============================================================================================*/
/*============================================================================================
                            1. DHX Scheduler Container
==============================================================================================*/
/*============================================================================================
                            1. DHX Scheduler Container
==============================================================================================*/
/*============================================================================================
                            1. DHX Scheduler Container
==============================================================================================*/
/*============================================================================================
                            1. DHX Scheduler Container
==============================================================================================*/
/*============================================================================================
                            1. DHX Scheduler Container
==============================================================================================*/
/*============================================================================================
                            1. DHX Scheduler Container
==============================================================================================*/
/*============================================================================================
                            1. DHX Scheduler Container
==============================================================================================*/
/*============================================================================================
                            1. DHX Scheduler Container
==============================================================================================*/
.dhtmlx_message_area {
  position: fixed;
  right: 5px;
  width: 250px;
  z-index: 11;
}
.dhtmlx-info {
  min-width: 120px;
  padding: 4px 4px 4px 20px;
  font-family: Tahoma;
  z-index: 14;
  overflow: hidden;
  margin: 5px;
  margin-bottom: 10px;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.dhtmlx-info.hidden {
  height: 0px;
  padding: 0px;
  border-width: 0px;
  margin: 0px;
  overflow: hidden;
}
.dhtmlx_modal_box {
  overflow: hidden;
  display: inline-block;
  position: fixed;
  min-width: 300px;
  width: 330px;
  text-align: center;
  background: #000000;
  background: -webkit-linear-gradient(top, #ffffff 1%, #ffffff 99%);
  box-shadow: inset 0px 0px 0px 4px #1b4872;
  border: 1px solid #ffffff;
  z-index: 18;
  border-radius: 6px;
  font-family: "Tahoma", san-serif;
}
.dhtmlx_popup_text {
  margin: 15px 15px 5px 15px;
  font-size: 14px;
  color: #ffffff;
  min-height: 30px;
  border-radius: 6px;
}
.dhtmlx_popup_title {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-width: 0px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAoCAMAAAAIaGBFAAAAhFBMVEVwcHBubm5sbGxqampoaGhmZmZlZWVjY2NhYWFfX19dXV1bW1taWlpYWFhWVlZUVFRSUlJRUVFPT09NTU1LS0tJSUlHR0dGRkZERERCQkJAQEA+Pj49PT09PT0+Pj5AQEBBQUFDQ0NERERGRkZHR0dJSUlKSkpMTExMTEw5OTk5OTk5OTkny8YEAAAAQklEQVQImQXBCRJCAAAAwKVSQqdyjSPXNP7/QLsIhA6OTiJnF7GrRCpzc/fw9PKW+/gqlCq1RqvTG/yMJrPF6m/bAVEhAxxnHG0oAAAAAElFTkSuQmCC);
  background-image: -webkit-linear-gradient(top, #707070 1%, #3d3d3d 70%, #4c4c4c 97%, #393939 97%);
  background-image: -moz-linear-gradient(top, #707070 1%, #3d3d3d 70%, #4c4c4c 97%, #393939 97%);
}
.dhtmlx-info,
.dhtmlx_popup_button,
.dhtmlx_button {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  cursor: pointer;
}
.dhtmlx_popup_text {
  overflow: hidden;
}
.dhtmlx_popup_controls {
  border-radius: 6px;
  padding: 5px 5px 9px 5px;
}
.dhtmlx_popup_button,
.dhtmlx_button {
  height: 30px;
  line-height: 28px;
  display: inline-block;
  margin: 0 5px;
  border-radius: 6px;
  color: #ffffff;
  border: 2px solid #ffffff;
  box-shadow: none;
}
.dhtmlx_popup_button {
  min-width: 120px;
  background: transparent;
}
.dhtmlx_button input,
.dhtmlx_popup_button div {
  border: none;
  background: transparent;
  background-image: none;
  border-radius: 6px;
  font-size: 15px;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  text-shadow: none;
  color: inherit;
  font-weight: normal;
  padding: 0px;
  margin: 0px;
  vertical-align: top;
  height: 28px;
  line-height: 28px;
}
.dhtmlx_popup_button.dhtmlx_ok_button div {
  background: #1b4872;
  border: 1px solid transparent;
  color: #ffffff;
  text-shadow: none;
  outline: none;
}
.dhtmlx_popup_button.dhtmlx_ok_button {
  border: 2px solid #00b7ff;
  background-color: #1b4872;
  outline: none;
}
.dhtmlx_button input:focus,
.dhtmlx_button input:active,
.dhtmlx_popup_button div:active,
.dhtmlx_popup_button div:focus {
  background: #1b4872;
  background-image: none;
  color: #ffffff;
  box-shadow: none;
  outline: none;
}
.dhtmlx_popup_button.dhtmlx_cancel_button div:active {
  background-color: transparent;
  border-color: transparent;
  outline: none;
}
div.dhx_modal_cover {
  background-color: #000;
  cursor: default;
  opacity: 0.2;
  position: fixed;
  z-index: 17;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  border: none;
  zoom: 1;
}
.dhtmlx-info img,
.dhtmlx_modal_box img {
  float: left;
  margin-right: 20px;
}
.dhtmlx-alert-error .dhtmlx_popup_title,
.dhtmlx-confirm-error .dhtmlx_popup_title {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAsCAIAAAArRUU2AAAATklEQVR4nIWLuw2AMBBDjVuQiBT2oWbRDATrnB0KQOJoqPzRe3BrHI6dcBASYREKovtK6/6DsDOX+stN+3H1YX9ciRgnYq5EWYhS2dftBIuLT4JyIrPCAAAAAElFTkSuQmCC);
}
.dhtmlx-alert-error,
.dhtmlx-confirm-error {
  border: 1px solid #ff0000;
}
/*Skin section*/
.dhtmlx_popup_title {
  color: #fff;
  text-shadow: 1px 1px #000;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
}
.dhtmlx-info,
.dhtmlx-error {
  font-size: 14px;
  color: #ffffff;
  box-shadow: none;
  padding: 0px;
  background-color: #000000;
  border-radius: 3px;
  border: 1px solid #ffffff;
}
.dhtmlx-info div {
  padding: 5px 10px 5px 10px;
  background-color: #000000;
  border-radius: 3px;
  border: 1px solid #ffffff;
}
.dhtmlx_message_area .dhtmlx-error {
  background-color: #d81b1b;
  border: 1px solid #ff3c3c;
  box-shadow: 0px 0px 10px #000;
}
.dhtmlx_message_area .dhtmlx-error div {
  background-color: #d81b1b;
  border: 1px solid #940000;
  color: #FFF;
}
.dhtmlx_modal_box.dhtmlx-error .dhtmlx_popup_title {
  background: #d81b1b;
  border: 1px solid #ff3c3c;
  color: #FFF;
}
.dhx_cal_event .dhx_header,
.dhx_cal_event .dhx_title,
.dhx_cal_event .dhx_body,
.dhx_cal_event .dhx_footer {
  background-color: #1b4872;
  border: 1px solid #00b7ff;
  color: #ffffff;
  overflow: hidden;
  width: 100%;
}
.dhx_move_denid .dhx_cal_event .dhx_header,
.dhx_move_denied .dhx_cal_event .dhx_title {
  cursor: default;
}
.dhx_cal_event .dhx_header {
  height: 1px;
  margin: 0 0 0 1px;
  border-width: 1px 1px 0px 1px;
  cursor: pointer;
}
.dhx_cal_event .dhx_title {
  height: 12px;
  border-width: 1px 1px 0 1px;
  border-bottom-style: dotted;
  border-radius: 4px 4px 0 0;
  font-size: 14px;
  line-height: 14px;
  font-weight: bold;
  text-align: center;
  background-position: right;
  background-repeat: no-repeat;
  padding: 1px 0 0 0;
  cursor: pointer;
}
.dhx_cal_event .dhx_body,
.dhx_cal_event.dhx_cal_select_menu .dhx_body {
  border-width: 0 1px 1px 1px;
  padding: 5px 5px 8px 5px;
  border-radius: 0 0 4px 4px;
  font-weight: normal;
  line-height: normal;
}
.dhx_cal_event.dhx_cal_select_menu {
  -webkit-box-shadow: 0 0 1px #ffffff;
  -moz-box-shadow: 0 0 1px #ffffff;
  box-shadow: 0 0 1px #ffffff;
}
.dhx_resize_denied,
.dhx_resize_denied .dhx_event_resize {
  cursor: default !important;
}
.dhx_cal_event .dhx_event_resize {
  cursor: s-resize;
  cursor: ns-resize;
}
.dhx_cal_event .dhx_footer,
.dhx_cal_event .dhx_select_menu_footer {
  height: 5px;
  margin: -6px 0 0 2px;
  border-width: 0;
  position: relative;
  top: -1px;
  background: #1b4872 url(imgs_contrast_black/resizing.png) no-repeat center center;
}
.dhx_cal_event .dhx_resize_denied.dhx_event_resize.dhx_footer {
  height: 0;
}
.dhx_cal_event_line {
  background-color: #1b4872;
  border: 1px solid #00b7ff;
  border-radius: 2px;
  font-family: "Arial", san-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 17px;
  height: 17px;
  padding: 0 0 0 10px;
  color: #ffffff;
  cursor: pointer;
  overflow: hidden;
}
.dhx_cal_event_line_start {
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
}
.dhx_cal_event_line_end {
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
}
.dhx_cal_event_clear {
  height: 14px;
  padding: 0 0 0 2px;
  color: #ffffff;
  font-family: "Tahoma", san-serif;
  font-size: 14px;
  line-height: normal;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  background-color: transparent;
  font-weight: normal;
}
.dhx_cal_event.dhx_cal_editor {
  border: 1px solid #1796b0;
  border-top-style: solid;
  z-index: 10;
  position: absolute;
  overflow: hidden;
}
textarea.dhx_cal_editor {
  width: 100%;
  height: 100%;
  border: 0 solid black;
  padding: 0;
  margin: 0;
  overflow: auto;
  font-family: "Arial", san-serif;
  font-size: 14px;
}
div.dhx_menu_head {
  background-image: url(imgs_contrast_black/controls.png);
  background-position: 1px -41px;
  width: 10px;
  height: 10px;
  margin-left: 5px;
  margin-top: 1px;
  border: none;
  cursor: default;
}
div.dhx_menu_icon {
  background-image: url(imgs_contrast_black/controls.png);
  width: 20px;
  height: 20px;
  margin-left: -5px;
  margin-top: 0px;
  border: none;
  cursor: pointer;
}
div.icon_details {
  background-position: 0px 0px;
}
div.icon_edit {
  background-position: -21px 0px;
}
div.icon_save {
  background-position: -82px -1px;
}
div.icon_cancel {
  background-position: -62px 0px;
}
div.icon_delete {
  background-position: -42px 0px;
}
/*view more link in month view*/
.dhx_month_link {
  position: absolute;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  text-align: right;
  cursor: pointer;
  padding-right: 10px;
  font-size: 14px;
  font-family: "Tahoma", san-serif;
}
.dhx_month_link a {
  color: #0000ff;
}
.dhx_month_link a:hover {
  text-decoration: underline;
  color: #0000b3;
}
.dhx_global_tip {
  font-family: Tahoma, Helvetica;
  text-align: center;
  font-size: 20px;
  position: fixed;
  top: 60px;
  right: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  color: #000;
  z-index: 14;
  padding: 20px 30px;
  width: 190px;
}
.dhx_global_tip div {
  font-size: 30px;
}
@media (-moz-touch-enabled) {
  .dhx_cal_container {
    user-select: none;
    -moz-user-select: none;
  }
}
.dhx_unselectable,
.dhx_unselectable div {
  -webkit-user-select: none;
  -moz-user-select: none;
  -moz-user-select: -moz-none;
}
.dhx_cal_light {
  -webkit-tap-highlight-color: transparent;
  background-color: #000000;
  border-radius: 5px;
  border: 1px solid #8d8d8d;
  color: #ffffff;
  font-family: "Tahoma", san-serif;
  font-size: 14px;
  box-shadow: 5px 5px 5px #888888;
  position: absolute;
  z-index: 15;
  width: 580px;
}
.dhx_cal_ltitle {
  padding: 2px 0px 2px 5px;
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #cecece;
  background: transparent;
  margin: 0;
  border-radius: 0;
  overflow: hidden;
  white-space: nowrap;
}
.dhx_cal_ltext.dhx_cal_template {
  position: relative;
}
.dhx_cal_ltitle span {
  white-space: nowrap;
}
.dhx_time {
  font-weight: bold;
  padding: 0 0 0 10px;
  font-size: 8pt;
  display: inline-block;
  margin: 0;
}
.dhx_cal_light_wide {
  width: 650px;
}
.dhx_mark {
  position: relative;
  top: 3px;
  background-image: url('imgs/controls.gif');
  background-position: 0px -43px;
  padding-left: 10px;
}
.dhx_ie6 .dhx_mark {
  background-position: 6px -41px;
}
.dhx_cal_light select {
  font-family: "Tahoma", san-serif;
  font-size: 8pt;
  color: #2e2e2e;
  padding: 2px;
  margin: 0px;
}
.dhx_cal_light .dhx_title {
  padding: 0 0 0 13px;
  font-size: 8pt;
  text-transform: none;
  color: inherit;
  display: inline-block;
  margin: 0;
}
.dhx_cal_larea {
  border: 1px solid transparent;
  background-color: #000000;
  overflow: hidden;
}
.dhx_cal_light_wide .dhx_cal_larea {
  border-top-width: 0px;
  margin: 0 0 0 3px;
}
.dhx_cal_light_wide .dhx_wrap_section {
  border-top: 0;
  border-bottom: 1px solid #cecece;
  position: relative;
  background-color: #000000;
  overflow: hidden;
  padding: 5px 0;
  margin: 0;
}
.dhx_cal_lsection {
  background-color: #000000;
  color: #ffffff;
  font-weight: 700;
  font-family: "Arial", san-serif;
  font-size: 18px;
  padding: 5px 0 5px 10px;
}
.dhx_cal_light_wide .dhx_cal_lsection {
  border: 0px;
  float: left;
  text-align: right;
  width: 82px;
  width: 100px;
  min-height: 20px;
  line-height: normal;
  height: auto;
  font-size: 14px;
  padding: 5px 0px 0px 10px;
  margin: 0;
}
.dhx_cal_lsection .dhx_fullday {
  float: right;
  margin-right: 5px;
  color: #ffffff;
  font-family: "Arial", san-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 20px;
  vertical-align: top;
  cursor: pointer;
}
.dhx_cal_lsection .dhx_fullday input[type="checkbox"] {
  margin: 3px 3px 3px 4px;
}
.dhx_cal_ltext {
  /*margin: 0 0 0 15px;*/
  overflow: hidden;
  float: left;
  float: none;
  width: auto;
  height: auto;
  padding: 2px 0px 2px 10px;
}
.dhx_readonly {
  height: 15px;
}
.dhx_cal_ltext textarea {
  background-color: #f9f9f9;
  overflow: auto;
  color: #887a2e;
  height: 100%;
  width: 100%;
  outline: none !important !important;
  resize: none;
  border: 1px solid #cecece;
  line-height: 20px;
  font-family: inherit;
  box-sizing: border-box;
  padding: 2px;
}
.dhx_section_time {
  background-color: transparent;
  white-space: nowrap;
}
.dhx_cal_light_wide .dhx_section_time {
  padding: 2px 0 0 0 !important;
  height: 20px !important;
}
.dhx_section_time {
  text-align: center;
}
.dhx_cal_light_wide .dhx_section_time {
  background: transparent;
}
.dhx_btn_set {
  padding: 0;
  float: left;
  margin: 12px 0 0 20px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 3px;
  text-transform: none;
  color: #ffffff;
}
.dhx_right_btn_set {
  margin-right: 20px;
}
.dhx_btn_set div {
  float: left;
  height: 30px;
  line-height: 30px;
  padding: 0 20px;
  vertical-align: middle;
  cursor: pointer;
}
.dhx_btn_set,
.dhx_cancel_btn_set {
  border: 1px solid #cecece;
  background-color: transparent;
  color: #ffffff;
  float: right;
  float: left;
}
.dhx_save_btn {
  background-image: url('imgs/controls.gif');
  background-position: -84px 0px;
  width: 21px;
}
.dhx_cancel_btn {
  background-image: url('imgs/controls.gif');
  background-position: -63px 0px;
  width: 20px;
}
.dhx_delete_btn {
  background-image: url('imgs/controls.gif');
  background-position: -42px 0px;
  width: 20px;
}
.dhx_delete_btn_set {
  border: 1px solid #ffc400;
  background-color: #000000;
  color: #ffc400;
  text-shadow: none;
  margin: 12px 20px 0 20px;
}
.dhx_save_btn_set {
  border: 2px solid #00b7ff !important;
  color: #ffffff;
  text-shadow: none;
  background-color: #1b4872;
}
.dhx_cal_cover {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 14;
  top: 0px;
  left: 0px;
  background-color: black;
  opacity: 0.2;
}
.dhx_custom_button {
  padding: 0px 3px 0px 3px;
  color: #ffffff;
  font-family: "Arial", san-serif;
  font-size: 8pt;
  background-color: white;
  border: 1px solid #cecece;
  font-weight: normal;
  margin-right: 5px;
  margin-top: 0px;
  cursor: pointer;
}
.dhx_custom_button div {
  cursor: pointer;
  float: left;
  height: 21px;
  line-height: 21px;
  vertical-align: middle;
}
.dhx_cal_light_wide .dhx_cal_lsection .dhx_fullday {
  float: none;
  margin: 0;
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;
}
.dhx_cal_light_wide .dhx_cal_larea {
  width: 730px;
}
.dhx_cal_light_wide {
  width: 738px;
}
.dhx_cal_light_wide .dhx_cal_checkbox label {
  padding-left: 0px;
}
.dhx_wrap_section .dhx_cal_wide_checkbox input[type="checkbox"] {
  margin-top: 8px;
  margin-left: 14px;
}
.dhx_cal_light input {
  font-family: "Tahoma", san-serif;
  font-size: 8pt;
  color: #747373;
}
#input_1518604462804 {
  margin: 0 0 0 11px;
  border-bottom-width: 0;
  border-bottom: 0;
}
.dhx_custom_button {
  float: right;
  height: 21px;
  width: 90px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.dhx_cal_light_wide .dhx_custom_button {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 6px;
}
.dhx_cal_light_wide .dhx_repeat_right {
  margin-right: 55px;
}
.dhx_minical_popup {
  position: absolute;
  z-index: 16;
  width: 251px;
  height: 175px;
}
.dhx_scale_bar_header {
  position: absolute;
  border-bottom: 1px dotted #a39588;
  width: 100%;
}
.dhx_expand_icon {
  position: absolute;
  top: 0px;
  right: 0px;
  background-image: url(imgs/collapse_expand_icon.gif);
  width: 18px;
  height: 18px;
  cursor: pointer;
  background-position: 0px 18px;
  z-index: 4;
}
.dhx_scheduler_agenda .dhx_cal_data {
  background-image: url(imgs_contrast_black/databg.png);
}
.dhx_agenda_area {
  width: 100%;
  overflow-y: auto;
  background-image: url(imgs_contrast_black/databg.png);
}
.dhx_agenda_line {
  height: 21px;
  clear: both;
  overflow: hidden;
}
.dhx_agenda_line div {
  float: left;
  width: 188px;
  border-right: 1px dotted #8894A3;
  text-align: center;
  line-height: 21px;
  overflow: hidden;
}
.dhx_cal_header div.dhx_map_line,
.dhx_cal_header div.dhx_agenda_line div,
.dhx_cal_header div.dhx_agenda_line span {
  font-weight: normal;
  color: #ffffff;
}
.dhx_agenda_area .dhx_agenda_line div {
  border-right: 0px dotted #000;
}
.dhx_v_border {
  position: absolute;
  left: 187px;
  top: 0;
  border-right: 1px dotted #8894A3;
  width: 1px;
  height: 100%;
}
.dhx_agenda_line .dhx_event_icon {
  width: 20px;
  border-width: 0px;
  background: url(imgs/icon.png) no-repeat;
  background-position: 5px 4px;
  cursor: pointer;
}
.dhx_agenda_line span {
  padding-left: 5px;
  line-height: 21px;
}
.dhx_year_body {
  border-left: 1px solid #cecece;
}
.dhx_year_week {
  position: relative;
}
.dhx_scale_bar_last {
  border-right: 1px solid #cecece;
}
.dhx_year_month {
  height: 18px;
  padding-top: 3px;
  border: 1px solid #cecece;
  text-align: center;
  vertical-align: middle;
}
.dhx_year_body .dhx_before .dhx_month_head,
.dhx_year_body .dhx_after .dhx_month_head,
.dhx_year_body .dhx_before .dhx_month_head a,
.dhx_year_body .dhx_after .dhx_month_head a {
  color: #e2e3e6;
}
.dhx_year_body .dhx_month_body {
  height: 0px;
  overflow: hidden;
}
.dhx_month_head.dhx_year_event {
  background-color: #ffe763;
  color: '';
}
.dhx_year_body .dhx_before .dhx_month_head,
.dhx_year_body .dhx_after .dhx_month_head {
  cursor: default;
}
.dhx_year_tooltip {
  border: 1px solid #BBBBBB;
  background-image: url(imgs_contrast_black/databg.png);
  position: absolute;
  z-index: 12;
  width: 300px;
  height: auto;
  font-family: Tahoma;
  font-size: 8pt;
  overflow: hidden;
}
.dhx_tooltip_line {
  line-height: 20px;
  height: 20px;
  overflow: hidden;
}
.dhx_tooltip_line .dhx_event_icon {
  width: 20px;
  height: 20px;
  padding-right: 10px;
  float: left;
  border-width: 0px;
  position: relative;
  background: url(imgs/icon.png) no-repeat;
  background-position: 5px 4px;
  cursor: pointer;
}
.dhx_tooltip_date {
  float: left;
  width: auto;
  padding-left: 5px;
  text-align: center;
}
.dhx_text_disabled {
  color: #2e2e2e;
  font-family: "Tahoma", san-serif;
  font-size: 8pt;
}
.dhx_mini_calendar {
  -moz-box-shadow: 5px 5px 5px #888;
  /*Doesn't work in IE*/
  -khtml-box-shadow: 5px 5px 5px #888;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -user-select: none;
}
.dhx_mini_calendar .dhx_month_head {
  cursor: pointer;
}
.dhx_mini_calendar .dhx_calendar_click {
  background-color: #c2d5fc;
}
.dhx_cal_navline div.dhx_minical_icon {
  width: 18px;
  height: 18px;
  left: 190px;
  top: 1px;
  cursor: pointer;
  background: url(imgs_contrast_black/calendar.gif) no-repeat;
}
.dhx_matrix_scell,
.dhx_timeline_scale_header {
  height: 100%;
  font-family: "Tahoma", san-serif;
  font-size: inherit;
  color: inherit;
  font-weight: 500;
}
.dhx_matrix_cell,
.dhx_matrix_scell {
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid #cecece;
  border-right: 1px solid #cecece;
}
.dhx_timeline_scale_header {
  border-right: 1px solid #8d8d8d;
}
.dhx_cal_data .dhx_timeline_table_wrapper div {
  box-sizing: border-box;
}
.dhx_matrix_cell {
  background-color: white;
}
.dhx_matrix_line {
  overflow: hidden;
}
.dhx_matrix_cell div,
.dhx_matrix_scell div {
  overflow: hidden;
  text-align: center;
  height: auto;
}
.dhx_cal_lsection .dhx_readonly {
  font-size: 9pt;
  font-size: 8pt;
  padding: 2px;
  color: #887A2E;
}
.dhx_cal_event_line .dhx_event_resize {
  cursor: w-resize;
  cursor: ew-resize;
  background: url(imgs_dhx_terrace/resize_dots.png) repeat-y;
  position: absolute;
  top: 0;
  width: 4px;
  height: 100%;
}
.dhx_event_resize_start {
  left: 0;
}
.dhx_event_resize_end {
  right: 0;
}
/* Tree view */
.dhx_matrix_scell.folder,
.dhx_data_table.folder .dhx_matrix_cell {
  background-color: #969394;
  cursor: pointer;
}
.dhx_matrix_scell .dhx_scell_level0 {
  padding-left: 5px;
}
.dhx_matrix_scell .dhx_scell_level1 {
  padding-left: 20px;
}
.dhx_matrix_scell .dhx_scell_level2 {
  padding-left: 35px;
}
.dhx_matrix_scell .dhx_scell_level3 {
  padding-left: 50px;
}
.dhx_matrix_scell .dhx_scell_level4 {
  padding-left: 65px;
}
.dhx_matrix_scell.folder {
  border-right: 0;
  font-weight: bold;
  text-align: left;
}
.dhx_matrix_scell.folder .dhx_scell_expand {
  float: left;
  width: 10px;
  padding-right: 3px;
  position: relative;
}
.dhx_matrix_scell.folder .dhx_scell_name {
  float: left;
  width: auto;
  color: inherit;
  text-transform: none;
  font-weight: inherit;
}
.dhx_matrix_scell.item .dhx_scell_name {
  padding-left: 15px;
  text-align: left;
}
.dhx_data_table.folder .dhx_matrix_cell {
  border-right: 0;
}
.dhx_section_timeline {
  overflow: hidden;
  padding: 4px 0 2px 10px;
}
.dhx_section_timeline select {
  width: 552px;
}
/* Tree view end*/
/* Map view */
.dhx_map_area {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-image: url(imgs_contrast_black/databg.png);
}
.dhx_map_line .dhx_event_icon {
  width: 20px;
  border-width: 0px;
  background: url(imgs/icon.png) no-repeat;
  background-position: 5px 4px;
  cursor: pointer;
}
.dhx_map_line {
  height: 21px;
  clear: both;
  overflow: hidden;
}
.dhx_map {
  position: absolute;
}
.dhx_map_line div {
  float: left;
  border-right: 1px dotted #8894A3;
  text-align: center;
  line-height: 21px;
  overflow: hidden;
}
.dhx_map_line .headline_description {
  float: left;
  border-right: 1px dotted #8894A3;
  text-align: center;
  line-height: 21px;
  overflow: hidden;
}
.dhx_map_line .dhx_map_description {
  float: left;
  border-right: 0 dotted #8894A3;
  text-align: center;
  line-height: 21px;
  overflow: hidden;
}
.dhx_map_line .headline_date,
.dhx_map_line .headline_description {
  border-left: 0;
}
.dhx_map_line .line_description {
  float: left;
  border-right: 1px dotted #8894A3;
  text-align: left;
  padding-left: 5px;
  line-height: 21px;
  overflow: hidden;
}
.dhx_map_line.highlight {
  background-color: #C4C5CC;
}
.dhx_map_area .dhx_map_line div {
  border-right: 0px dotted #8894A3;
}
/* Map view end */
/* dhtmlXTooltip start */
.dhtmlXTooltip.tooltip {
  -moz-box-shadow: 3px 3px 3px #888888;
  -webkit-box-shadow: 3px 3px 3px #888888;
  -o-box-shadow: 3px 3px 3px #888888;
  box-shadow: 3px 3px 3px #888888;
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#888888', Direction=135, Strength=5);
  background-color: white;
  cursor: default;
  padding: 10px;
  position: fixed;
  z-index: 9;
  opacity: 1;
  font-family: "Arial", san-serif;
}
/* dhtmlXTooltip end */
/* Lightbox checkbox section */
.dhx_cal_checkbox label {
  padding-left: 5px;
}
/* Lightbox checkbox section end */
/* Lightbox radiobuttons section */
.dhx_cal_light .radio {
  padding: 2px 0px 2px 10px;
}
.dhx_cal_light .radio input,
.dhx_cal_light .radio label {
  line-height: 15px;
}
.dhx_cal_light .radio input {
  vertical-align: middle;
  margin: 0px;
  padding: 0px;
}
.dhx_cal_light .radio label {
  vertical-align: middle;
  padding-right: 10px;
}
/* Lightbox radiobuttons section end */
/* Lightbox dhtmlx combo section */
.dhx_cal_light .combo {
  padding: 4px;
}
/* dhtmlxCombo v3.x */
.dhx_cal_light_wide .dhx_combo_box,
.dhx_cal_light_wide .combo > div {
  width: 608px !important;
  left: 10px;
}
/* Lightbox dhtmlx combo section end */
/* Agenda week start */
.dhx_wa_column {
  float: left;
}
.dhx_wa_column_last .dhx_wa_day_cont {
  border-left: 1px solid #cecece;
}
.dhx_wa_scale_bar {
  font-family: "Tahoma", san-serif;
  padding-left: 10px;
  font-size: 11px;
  border-top: 1px solid #cecece;
  border-bottom: 1px solid #cecece;
}
.dhx_wa_day_data {
  background-color: #FCFEFC;
  overflow-y: auto;
}
.dhx_wa_ev_body {
  border-bottom: 1px solid #cecece;
  font-size: 14px;
  padding: 5px 0 5px 7px;
}
.dhx_wa_dnd {
  font-family: "Tahoma", san-serif;
  position: absolute;
  padding-right: 7px;
  color: #887AE2 !important;
  background-color: #FFE763 !important;
  border: 1px solid #B7A543;
}
.dhx_wa_ev_body.dhx_cal_event_selected {
  background-color: #9cc1db;
  color: white;
}
/* Agenda week end */
/* timeline second scale start */
.dhx_second_scale_bar {
  border-bottom: 1px solid #cecece;
  padding-top: 2px;
}
/* timeline second scale end */
/* grid view */
.dhx_cal_header div.dhx_grid_line div {
  border-left: 1px solid #cecece;
}
.dhx_grid_area {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: #FCFEFC;
}
.dhx_grid_area table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  table-layout: fixed;
}
.dhx_grid_area td {
  table-layout: fixed;
  text-align: center;
}
.dhx_grid_line {
  height: 21px;
  clear: both;
  overflow: hidden;
}
.dhx_grid_line div {
  float: left;
  cursor: default;
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
  line-height: 21px;
  overflow: hidden;
}
.dhx_grid_area td,
.dhx_grid_line div {
  padding-left: 8px;
  padding-right: 8px;
}
.dhx_grid_area tr.dhx_grid_event {
  height: 21px;
  overflow: hidden;
  margin: 0 0 1px 0;
}
.dhx_grid_area tr.dhx_grid_event td {
  /*borders for old ies*/
  border-bottom: 1px solid #ECEEF4;
}
.dhx_grid_area tr.dhx_grid_event:nth-child(2n+1) td,
.dhx_grid_area tr.dhx_grid_event:nth-child(2n) td {
  border-bottom-width: 0px;
  border-bottom-style: none;
}
.dhx_grid_area tr.dhx_grid_event:nth-child(2n) {
  background-color: #ECEEF4;
}
.dhx_grid_area .dhx_grid_dummy {
  table-layout: auto;
  margin: 0 !important;
  padding: 0 !important;
}
.dhx_grid_v_border {
  position: absolute;
  border-right: 1px solid #A4BED4;
  width: 1px;
  height: 100%;
}
.dhx_grid_event_selected {
  background-color: #9cc1db !important;
  color: white !important;
}
.dhx_grid_sort_desc .dhx_grid_view_sort {
  background-position: 0 -55px;
}
.dhx_grid_sort_asc .dhx_grid_view_sort {
  background-position: 0 -66px;
}
.dhx_grid_view_sort {
  width: 10px;
  height: 10px;
  position: absolute;
  border: none !important;
  top: 5px;
  background-repeat: no-repeat;
  background-image: url(imgs/images.png);
}
/* end grid */
/* marked timespans */
.dhx_marked_timespan {
  position: absolute;
  width: 100%;
  margin-left: 0;
  /* fix bootstrap conflict [class*="span"] */
}
.dhx_time_block {
  position: absolute;
  width: 100%;
  background: silver;
  opacity: 0.4;
  filter: alpha(opacity=40);
  z-index: 1;
}
.dhx_time_block_reset {
  opacity: 1;
  filter: alpha(opacity=100);
}
.dhx_scheduler_month .dhx_marked_timespan {
  display: none;
}
.dhx_mini_calendar .dhx_marked_timespan {
  display: none;
}
/* now time */
.dhx_now_time {
  width: 100%;
  border-bottom: 2px solid #ff0000;
}
.dhx_scheduler_month .dhx_now_time {
  border-bottom: 0;
  border-left: 2px solid #ff0000;
}
.dhx_matrix_now_time {
  border-left: 2px solid #ff0000;
}
.dhx_now_time,
.dhx_matrix_now_time {
  opacity: 0.5;
}
/* now time End */
/* Quick info */
.dhx_cal_quick_info {
  border: 2px solid #888888;
  border-radius: 5px;
  position: absolute;
  z-index: 8;
  font-family: "Tahoma", san-serif;
  font-size: 8pt;
  background-color: rgba(50, 50, 50, 0.5);
  padding: 0 0 0 7px;
  width: 300px;
  transition: left 0.5s ease, right 0.5s;
  -moz-transition: left 0.5s ease, right 0.5s;
  -webkit-transition: left 0.5s ease, right 0.5s;
  -o-transition: left 0.5s ease, right 0.5s;
}
.dhx_no_animate {
  transition: none;
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: none;
}
.dhx_cal_quick_info.dhx_qi_left .dhx_qi_big_icon {
  float: right;
}
.dhx_cal_qi_title {
  padding: 5px 0px 10px 5px;
  color: #ffffff;
  letter-spacing: 1px;
}
.dhx_cal_qi_tdate {
  font-size: 14px;
}
.dhx_cal_qi_tcontent {
  font-size: 18px;
  font-weight: 700;
}
.dhx_qi_big_icon .dhx_menu_icon {
  /*background: @infobox-control-btn-background;*/
}
.dhx_cal_qi_content {
  border: 1px solid #888888;
  background-color: #fefefe;
  padding: 16px 8px;
  font-size: 14px;
  color: #444444;
  width: 275px;
  overflow: hidden;
}
.dhx_qi_big_icon {
  min-width: 60px;
  padding: 5px 10px 5px 5px;
  margin: 5px 9px 5px 0px;
  background-color: #1796b0;
  border-bottom: 1px solid #666666;
  border-right: 1px solid #666666;
  border-radius: 3px;
  line-height: 20px;
  color: #ffffff;
  vertical-align: middle;
  cursor: pointer;
  float: left;
}
.dhx_cal_qi_controls div {
  float: left;
  height: 20px;
  text-align: center;
  line-height: 20px;
}
.dhx_qi_big_icon .dhx_menu_icon {
  margin: 0 8px 0 0px;
}
.dhx_drag_marker {
  width: 100%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  background-color: #ffe763;
  position: absolute;
  box-sizing: border-box !important;
  border-top: 1px solid #b6b6b6;
  border-bottom: 1px solid #b6b6b6;
}
/* key nav */
.dhx_focus_slot {
  background: #ffe763;
  position: absolute;
  pointer-events: none;
  opacity: 0.3;
}
.dhx_cal_container *:focus {
  outline-style: solid;
  /*not visible focus outline in ie11*/
  outline-style: auto;
}
/* key nav end*/
/* timeline scroll */
.dhx_timeline_scale_header {
  position: absolute;
  z-index: 2;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  background-color: #000000;
}
.dhx_timeline_label_wrapper {
  overflow: hidden;
  background-color: #000000;
  position: absolute;
  z-index: 1;
}
.dhx_timeline_label_col {
  position: relative;
}
.dhx_timeline_label_row {
  position: absolute;
  left: 0;
  background-color: inherit;
}
.dhx_timeline_data_wrapper {
  position: absolute;
  z-index: 0;
  left: 0;
  width: 100%;
}
.dhx_timeline_data_row {
  position: relative;
}
.dhx_timeline_data_cell {
  position: absolute;
  top: 0;
  height: 100%;
}
.dhx_timeline_table_wrapper .dhx_marked_timespan {
  z-index: 1;
}
.dhx_timeline_table_wrapper .dhx_time_block {
  z-index: 2;
}
.dhx_timeline_table_wrapper .dhx_cal_event_line {
  z-index: 1;
}
.dhx_timeline_table_wrapper .dhx_timeline_scrollable_data {
  overflow-x: auto;
}
/* timeline scroll end*/
/* bootstrap CSS fix start */
.dhx_cal_navline div,
.dhx_cal_header,
.dhx_cal_header div,
.dhx_cal_data,
.dhx_cal_data div,
.dhx_cal_data table *,
.dhx_multi_day,
.dhx_multi_day div,
.dhx_tooltip_line div,
.dhx_cal_quick_info,
.dhx_cal_quick_info div,
.dhtmlx_modal_box * {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.dhx_cal_light .dhx_wrap_section,
.dhx_cal_light .dhx_cal_lsection {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.dhx_form_repeat label {
  margin-bottom: 0;
}
.dhx_cal_data div.dhx_scale_hour,
.dhx_cal_data table .dhx_matrix_cell,
.dhx_cal_data table .dhx_matrix_scell {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dhx_cal_event div {
  line-height: normal;
}
.dhx_cal_data table {
  border-collapse: separate;
}
.dhx_cal_light .dhx_cal_radio input[type="radio"] {
  margin: 3px 3px 0px 5px;
}
.dhx_cal_light .dhx_cal_radio label {
  display: inline-block;
  margin: 0;
  position: relative;
  top: -3px;
}
.dhx_cal_event div {
  line-height: normal;
}
/* bootstrap CSS fix end */
.dhx_cal_container {
  position: relative;
  overflow: hidden;
  background-color: #000000;
  font-family: "Arial", san-serif;
  font-size: 14px;
}
.dhx_cal_container div {
  -moz-user-select: none;
  -moz-user-select: -moz-none;
}
.dhx_cal_navline {
  height: 20px;
  position: absolute;
  z-index: 3;
  width: 750px;
  color: #2f3a48;
}
.dhx_cal_navline div {
  position: absolute;
  white-space: nowrap;
  top: 14px;
}
.dhx_cal_navline .dhx_cal_date {
  border: 0;
  font-size: 18px;
  font-weight: normal;
  font-family: "Arial", san-serif;
  width: 100%;
  text-align: center;
  left: 0;
  padding: 1px 0 0 0;
  color: #ffffff;
  z-index: -1;
}
.dhx_cal_button .dhx_left_bg {
  width: 1px;
  overflow: hidden;
  height: 17px;
  z-index: 5;
  top: 0px;
}
.dhx_cal_prev_button {
  cursor: pointer;
  right: 61px;
  background-color: none;
  background-image: url(imgs_contrast_black/arrow_left.png);
  background-position: center center;
  background-repeat: no-repeat;
  height: 30px;
  width: 46px;
  border: 2px solid #ffffff;
  border-radius: 5px 0 0 5px;
}
.dhx_cal_today_button {
  cursor: pointer;
  text-align: center;
  font-size: inherit;
  font-weight: bold;
  color: #ffffff;
  right: 123px;
  background-color: none;
  background-image: none;
  background-position: -62px 0px;
  background-repeat: no-repeat;
  height: 30px;
  width: 80px;
  border: 2px solid #ffffff;
  border-radius: 5px;
  text-decoration: none;
  text-transform: none;
}
.dhx_cal_next_button {
  cursor: pointer;
  right: 14px;
  background-color: none;
  background-image: url(imgs_contrast_black/arrow_right.png);
  background-position: center center;
  background-repeat: no-repeat;
  height: 30px;
  width: 46px;
  border: 2px solid #ffffff;
  border-radius: 0 5px 5px 0;
}
.dhx_cal_tab {
  width: 60px;
  height: 30px;
  background-color: #000000;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  font-weight: bold;
  padding-top: 0;
  border-radius: 0;
  cursor: pointer;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-size: inherit;
}
.dhx_cal_tab:hover {
  /*color: @nav-tab-text-hov-text-color;*/
}
.dhx_cal_tab.active {
  text-decoration: none;
  cursor: default;
  font-weight: bold;
  font-size: inherit;
  color: #000000;
  border: 2px solid #ffffff;
  border-bottom: 1;
  background-color: #ffffff;
  z-index: 25;
}
.dhx_cal_tab_first {
  border-radius: 5px 0 0 5px;
  border-right: 0;
}
.dhx_cal_tab_last {
  border-radius: 0 5px 5px 0;
}
.dhx_cal_tab,
.dhx_cal_date,
.dhx_cal_today_button,
.dhx_cal_prev_button,
.dhx_cal_next_button {
  line-height: 30px;
}
.dhx_cal_header {
  position: absolute;
  overflow: hidden;
  left: 10px;
  background: #ffffff;
  border-top: 1px solid #8d8d8d;
  border-right: 1px solid #8d8d8d;
  z-index: 2;
}
.dhx_cal_data {
  -webkit-tap-highlight-color: transparent;
  border-top: 1px solid #8d8d8d;
  position: absolute;
  width: 600px;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
.dhx_cal_data,
.dhx_cal_event,
.dhx_cal_event_line,
.dhx_cal_event_clear {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}
.dhx_scale_bar {
  position: absolute;
  text-align: center;
  background-color: #000000;
  padding: 2px 0 0 0;
  border-left: 1px solid #8d8d8d;
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
  color: #e9e9e9;
}
.dhx_scale_holder {
  position: absolute;
  border-right: 1px solid #8d8d8d;
  background-image: url(imgs_contrast_black/databg.png);
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.dhx_scale_holder_now {
  position: absolute;
  border-right: 1px solid #8d8d8d;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.dhx_scale_holder_now {
  position: absolute;
  border-right: 1px solid #8d8d8d;
  background-image: url(imgs_contrast_black/databg.png);
}
.dhx_scale_hour {
  border-bottom: 1px solid #8d8d8d;
  background-color: #000000;
  text-align: center;
  line-height: 44px;
  color: #ffffff;
  font-size: 11px;
  font-weight: inherit;
  overflow: hidden;
}
.dhx_month_head {
  height: 21px;
  padding: 0 5px 0 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  color: #e9e9e9;
  border-right: 1px solid #8d8d8d;
  background-color: #000000;
  text-align: right;
}
.dhx_after .dhx_month_head,
.dhx_before .dhx_month_head {
  background-color: #2e2e2e;
  color: #e9e9e9;
}
.dhx_now .dhx_month_head {
  background-color: #fff3a1;
  font-weight: normal;
}
.dhx_scale_hour_border {
  border-left: 1px dotted #8894A3;
}
.dhx_month_body {
  border-right: 1px solid #8d8d8d;
  border-bottom: 1px solid #8d8d8d;
  background-color: #000000;
}
.dhx_after .dhx_month_body,
.dhx_before .dhx_month_body {
  background-color: #2e2e2e;
}
.dhx_now .dhx_month_body {
  background-color: rgba(144, 136, 15, 0.5);
}
.dhx_now .dhx_month_head {
  background-color: rgba(144, 136, 15, 0.5);
}
.dhx_scale_ignore {
  display: none;
}
.dhx_cal_drag {
  position: absolute;
  z-index: 13;
  background-color: #FFE763;
  border: 1px solid #B7A543;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.dhx_loading {
  position: absolute;
  width: 128px;
  height: 15px;
  background-image: url(imgs/loading.gif);
  z-index: 13;
}
.dhx_multi_day_icon,
.dhx_multi_day {
  background-color: #ffffff;
  border-right: 1px solid #8d8d8d;
}
.dhx_multi_day {
  position: absolute;
  border-top: 1px solid #8d8d8d;
  background-color: #000000;
  border-right: none;
  box-shadow: none;
}
.dhx_multi_day_icon,
.dhx_multi_day_icon_small {
  background-color: #000000;
  background-position: center center;
  border-bottom: 1px solid #8d8d8d;
  border-right: 1px solid #8d8d8d;
  background-repeat: no-repeat;
}
.dhx_multi_day_icon {
  background-image: url(imgs_dhx_terrace/clock_big.gif);
}
.dhx_multi_day_icon_small {
  background-image: url(imgs_dhx_terrace/clock_small.gif);
}
.dhtmlxLayoutPolyContainer_dhx_skyblue .dhx_cal_container {
  background-color: #d0e5ff;
}
/* left border config option support */
.dhx_scale_hour_border,
.dhx_month_body_border,
.dhx_scale_bar_border,
.dhx_month_head_border {
  border-left: 1px dotted #8894A3;
}
/* export to PDF and iCal buttons start */
.dhx_cal_navline .dhx_cal_export {
  width: 18px;
  height: 18px;
  margin: 2px;
  cursor: pointer;
  top: 0px;
}
.dhx_cal_navline .dhx_cal_export.pdf {
  left: 2px;
  background-image: url('imgs/export_pdf.png');
}
.dhx_cal_navline .dhx_cal_export.ical {
  left: 24px;
  background-image: url('imgs/export_ical.png');
}
/* export to PDF and iCal buttons end */
/*All*/
.dhx_form_repeat,
.dhx_form_repeat input {
  padding: 0;
  margin: 0;
  padding-left: 5px;
  font-family: Tahoma, Verdana;
  font-size: 11px;
  line-height: 24px;
}
.dhx_form_repeat {
  overflow: hidden;
  /*height:115px;*/
  /*background-color: #FFF4B5;*/
  /*border: 1px solid #DCC43E;*/
}
.dhx_cal_light_wide .dhx_form_repeat {
  background-color: transparent;
}
.dhx_repeat_center,
.dhx_repeat_left,
.dhx_repeat_divider,
.dhx_repeat_right {
  height: 115px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dhx_repeat_center,
.dhx_repeat_left {
  padding: 10px 0 0px 10px;
  float: left;
}
.dhx_repeat_left {
  width: 105px;
}
.dhx_repeat_center {
  width: 345px;
  padding-top: 22px;
}
.dhx_repeat_divider {
  float: left;
  border-left: 1px dotted #DCC43E;
  /*background-color: #DCC43E;*/
  width: 1px;
}
.dhx_repeat_right {
  float: right;
  width: 173px;
  padding: 17px 3px 0px 10px;
}
input.dhx_repeat_text {
  height: 16px;
  width: 27px;
  margin: 0 4px 0 4px;
  line-height: 18px;
  padding: 0 0 0 2px;
}
.dhx_form_repeat select {
  height: 20px;
  width: 87px;
  padding: 0 0 0 2px;
  margin: 0 4px 0 4px;
}
input.dhx_repeat_date {
  height: 18px;
  width: 80px;
  padding: 0 0 0 2px;
  margin: 0 4px 0 4px;
  background-repeat: no-repeat;
  background-position: 64px 0;
  border: 1px #7f9db9 solid;
  line-height: 18px;
}
input[type="radio"].dhx_repeat_radio {
  margin: 5px 4px 0 0;
  display: inline-block;
  position: relative;
  top: 2px;
}
input.dhx_repeat_checkbox {
  margin: 4px 4px 0 0;
}
.dhx_repeat_days td {
  padding-right: 5px;
}
.dhx_repeat_days label {
  font-size: 10px;
}
.dhx_custom_button {
  width: 90px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.dhx_custom_button_recurring {
  background-image: url(imgs_contrast_black/but_repeat.gif);
  background-position: -5px 20px;
  width: 20px;
  margin-right: 10px;
}
/* increase width of lightbox */
.dhx_cal_light_rec {
  width: 640px;
}
.dhx_cal_light_rec .dhx_cal_larea {
  width: 632px;
}
.dhx_cal_light_rec.dhx_cal_light_wide {
  width: 816px;
}
.dhx_cal_light_rec.dhx_cal_light_wide .dhx_cal_larea {
  width: 808px;
}
.dhx_cal_container,
.dhx_cal_light,
.dhx_cal_quick_info,
.dhtmlXTooltip {
  color: #ffffff;
  font-size: 14px;
}
/* recurring */
.dhx_repeat_divider {
  border-left: 1px solid #8d8d8d;
}
.dhx_form_repeat {
  font-size: 13px;
  background: #000000;
  font-family: "Arial", san-serif;
}
.dhx_custom_button {
  background-color: #000000;
  border: 1px solid #FFF;
  font-size: 14px;
  color: #fff;
}
.dhx_cal_light input,
.dhx_cal_light textarea,
.dhx_cal_light select {
  font-size: 14px;
}
.dhx_cal_light_wide .dhx_section_time {
  padding-top: 0 !important;
}
/* recurring end */
/* agenda */
.dhx_v_border,
.dhx_agenda_line div {
  border-right: 1px solid #8d8d8d;
}
.dhx_agenda_line {
  font-size: 14px;
  height: 22px;
}
.dhx_agenda_line .dhx_event_icon {
  background: url(imgs_contrast_black/controls.png) no-repeat;
  background-position: 0px 0px;
}
/* agenda end */
/* year */
.dhx_year_month {
  border: 1px solid #8d8d8d;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
}
.dhx_scale_bar_last {
  border-right: 1px solid #8d8d8d;
}
.dhx_year_body {
  border-left: 1px solid #8d8d8d;
}
.dhx_year_week {
  border-bottom: 1px solid #8d8d8d;
}
.dhx_tooltip_line {
  height: 22px;
  line-height: 22px;
  color: #fff;
}
.dhx_tooltip_line .dhx_event_icon {
  background-position: 0 0;
  background-repeat: no-repeat;
  background-image: url(imgs_contrast_black/controls.png);
  height: 20px;
  margin: 0 7px;
}
.dhx_year_tooltip {
  font-size: 14px;
  background-color: #000000;
}
/* year end */
/* expand */
.dhx_expand_icon {
  top: -3px;
}
/* expand end */
/* units view */
.dhx_cal_header .dhx_cal_next_button,
.dhx_cal_header .dhx_cal_prev_button {
  width: 20px;
  height: 20px;
  top: 0px !important;
  border: 0;
}
.dhx_cal_header .dhx_cal_next_button {
  right: 1px !important;
  border-left: 1px solid #8d8d8d;
}
.dhx_scale_bar .dhx_cal_prev_button {
  left: 1px !important;
  border-right: 1px solid #8d8d8d;
}
/* units view end */
/* map view */
.dhx_map_line .headline_date,
.dhx_map_line .headline_description {
  border: 0;
}
.dhx_map_line .headline_date {
  border-right: 1px solid #8d8d8d;
}
/* map view end */
/* tooltip start */
.dhtmlXTooltip.tooltip {
  font-size: 14px;
  color: #FFF;
  background: #000000;
  border: 1px solid #8d8d8d;
  line-height: 16px;
}
/* tooltip end */
/* week agenda start */
.dhx_wa_day_data {
  background: #000000;
}
.dhx_wa_scale_bar {
  border-top: 1px solid #8d8d8d;
  border-bottom: 1px solid #8d8d8d;
}
.dhx_wa_column_last .dhx_wa_day_cont {
  border-left: 1px solid #8d8d8d;
}
.dhx_wa_ev_body {
  font-size: 14px;
  border-bottom: 1px solid #8d8d8d;
}
.dhx_wa_scale_bar {
  font-size: 14px;
  color: #E9E9E9;
  font-weight: bold;
  background-color: #000000;
}
.dhx_wa_ev_body.dhx_cal_event_selected {
  background-color: #fff3a1;
  color: #362d26;
}
.dhx_grid_area .dhx_grid_event_selected {
  background-color: #fff3a1 !important;
  color: #362d26  !important;
}
.dhx_wa_dnd {
  background-color: #fddb93 !important;
  color: #747473 !important;
  border: 1px solid #ccb177;
}
/* week agenda end */
/* readonly start */
.dhx_text_disabled {
  color: #2E2E2E;
}
.dhx_cal_ltext .dhx_text_disabled {
  line-height: 22px;
}
/* readonly end */
/* grid view start */
.dhx_grid_v_border {
  border-right-color: #8d8d8d;
}
.dhx_grid_area {
  background: transparent;
  color: #fff;
}
.dhx_grid_area tr.dhx_grid_event:nth-child(2n) {
  background: #2e2e2e;
}
.dhx_grid_line {
  font-size: 14px;
}
/* grid view end*/
/* left border support */
.dhx_scale_hour_border,
.dhx_month_body_border,
.dhx_scale_bar_border,
.dhx_month_head_border {
  border-left: 1px solid #8d8d8d;
}
.dhx_cal_quick_info {
  background: #000000;
  border: 1px solid #FFF;
  -webkit-box-shadow: inset 0px 0px 0px 4px #1b4872;
  -moz-box-shadow: inset 0px 0px 0px 4px #1b4872;
  box-shadow: inset 0px 0px 0px 4px #1b4872;
  padding: 4px;
}
.dhx_cal_qi_title {
  padding: 5px 0px 8px 12px;
  color: #fff;
  background-color: #000000;
  border-bottom: 1px solid #8d8d8d;
}
.dhx_cal_qi_content {
  background: transparent;
  width: auto;
  border: none;
  color: #fff;
}
.dhx_qi_big_icon {
  margin: 8px 9px 8px 6px;
  background: #000000;
  color: #fff;
  border: 2px solid #fff;
}
/* export to PDF and iCal buttons start */
.dhx_cal_navline .dhx_cal_export {
  width: 32px;
  height: 32px;
  margin: 2px;
  cursor: pointer;
  top: 12px;
}
.dhx_cal_navline .dhx_cal_export.pdf {
  left: auto;
  right: 249px;
  background-image: url('imgs_contrast_black/export_pdf.png');
}
.dhx_cal_navline .dhx_cal_export.ical {
  left: auto;
  right: 210px;
  background-image: url('imgs_contrast_black/export_ical.png');
}
/* export to PDF and iCal buttons end */
.dhx_cal_container {
  font-family: "Arial", san-serif;
  font-size: 14px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.dhtmlx_popup_button.dhtmlx_cancel_button {
  border: 2px solid #ffffff;
  background: #000000;
}
.dhtmlx_popup_button.dhtmlx_cancel_button div {
  background-color: inherit;
  color: #ffffff;
}
.dhx_cal_event .dhx_header,
.dhx_cal_event.dhx_cal_select_menu .dhx_footer {
  display: none;
}
.dhx_cal_event.dhx_cal_editor {
  border: 1px solid transparent;
}
.dhx_scale_hour {
  font-weight: bold;
  font-size: 16px;
}
.dhx_scale_holder_now {
  background-color: rgba(144, 136, 15, 0.5);
}
.dhx_multi_day_icon_small {
  background-image: none;
}
.dhx_multi_day_icon {
  background-image: none;
}
.dhx_month_head {
  font-weight: 700;
}
.dhx_cal_event .dhx_title {
  text-align: center;
}
.dhx_cal_ltext textarea,
.dhx_cal_light select,
.dhx_cal_light input,
.dhx_cal_light {
  color: #ffffff;
  background: #000000;
}
.dhx_cal_ltext textarea {
  font-size: 14px;
}
.dhx_save_btn,
.dhx_cancel_btn,
.dhx_delete_btn,
.dhx_btn_set div:first-child {
  display: none;
}
.dhx_btn_set,
.dhx_cancel_btn_set {
  border-width: 2px;
}
.dhx_mark {
  display: none;
}
.dhtmlx_modal_box {
  background: #000000;
  padding: 4px;
}
/* minicalendar */
.dhx_mini_calendar {
  padding: 5px;
}
.dhx_mini_calendar .dhx_year_event,
.dhx_mini_calendar .dhx_calendar_click {
  border-radius: 7px;
}
.dhx_mini_calendar .dhx_month_head {
  margin: 2px 1px 2px 2px;
  padding-right: 0;
  text-align: center;
}
.dhx_mini_calendar .dhx_year_month {
  line-height: 20px;
  height: 25px;
  font-size: 16px;
  border: 1px solid #8d8d8d;
  color: #fff;
  font-weight: bold;
}
.dhx_mini_calendar .dhx_cal_prev_button {
  top: 8px !important;
}
.dhx_mini_calendar .dhx_cal_next_button {
  top: 8px !important;
}
.dhx_year_body .dhx_month_head.dhx_year_event,
.dhx_year_body .dhx_month_head.dhx_calendar_click {
  color: #000000;
}
.dhx_cal_container.dhx_mini_calendar {
  box-sizing: border-box;
  border: 1px solid #8d8d8d;
  box-shadow: none;
  border-radius: 3px;
}
.dhx_mini_calendar .dhx_month_head,
.dhx_mini_calendar .dhx_year_month,
.dhx_mini_calendar .dhx_month_body,
.dhx_mini_calendar .dhx_scale_bar,
.dhx_mini_calendar .dhx_year_body {
  border-color: transparent;
}
.dhx_mini_calendar .dhx_year_body {
  padding-top: 1px;
}
.dhx_mini_calendar .dhx_scale_bar {
  border-width: 0;
}
.dhx_mini_calendar .dhx_year_week {
  border-bottom: 1px solid #8d8d8d;
  padding-top: 1px;
}
.dhx_mini_calendar .dhx_cal_prev_button,
.dhx_mini_calendar .dhx_cal_next_button {
  border: 0;
  height: 20px;
}
.dhx_cal_navline div.dhx_minical_icon {
  left: 210px;
  top: 14px;
  width: 30px;
  height: 30px;
  background: url(imgs_contrast_black/calendar.gif) no-repeat;
  background-position: 3px 5px;
}
.dhx_matrix_scell,
.dhx_matrix_cell {
  border-bottom: 1px solid #8d8d8d;
  border-right: 1px solid #8d8d8d;
}
.dhx_cal_header {
  background-color: #000000;
}
.dhx_cal_header div div {
  border-left: 1px solid #8d8d8d;
}
.dhx_matrix_scell.folder {
  border-right: 0;
}
.dhx_second_scale_bar {
  border-bottom: 1px solid #8d8d8d;
}
.dhx_matrix_cell {
  background: transparent;
}
.dhx_cal_tab_standalone {
  border-radius: 5px;
  background-color: #000000;
  width: auto;
  padding: 0 8px;
}
.dhx_drag_maker {
  background: #ffe763;
  border-top: 1px solid #b6b6b6;
  border-bottom: 1px solid #b6b6b6;
  opacity: 0.5;
}
div.dhx_agenda_line div,
div.dhx_agenda_line span {
  font-weight: normal;
  color: #ffffff;
  border-color: transparent;
}
.dhx_cal_event_line {
  height: 17px;
}
.dhx_cal_event_clear {
  padding: 2px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dhx_cal_navline,
.dhx_cal_header,
.dhx_cal_container {
  background-color: #000000;
}
.panel {
  background: #000000 !important;
}
